*{
    margin:0;
    padding:0;
  }
  
  .containerrr{
  background-image: url("./weatherImage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .butto{
    margin-left: 35px;
    margin-top: 20px;
    font-size: 17px;
    background-color: whitesmoke;
    height: 35px;
  }
  
  #weathe{
    color: black;
    width: 100%;
    
  }
  #carrrd{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  }
  .card-body{
    width: 500px;
    height: 300px;
  }
  #weatherinput{
    height:30px;
    border-radius: 3px;
    width: 400px;
    margin-left: 20px;

  }
  .card-title{
    padding-left: 100px;
    padding-top:25px;
    padding-bottom: 20px;
    font-size: 30px;
  }